/* Body background - the light gray background */
body.login {
    background: transparent;
    padding-top: 100px;
    box-sizing: border-box;
}

/* Login div background - part that the actual login form sits on top  of */
body.login div#login {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 40px 30px;

}

@media screen and (min-width: 768px) {
    body.login div#login {
        width: 700px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 330px;
    }
}

body.login div#login h1 {
    display: inline-block;
    width: 100%;
    margin-top: 100px;
}

@media screen and (min-width:768px) {
    body.login div#login h1 {
      width: 50%;
    }
}

body.login div#login h1 a {
    background-image: url(../img/atw-wplogin-logo.png);
    background-size: 60%;
    height: 100px;
    width: 100%;
    margin: 0;
}

body.login div#login form#loginform {
    float: right;
}

@media screen and ( min-width: 768px ) {
    body.login div#login form#loginform {
        max-width: 40%;
    }
}

body.login div#login form#loginform p {

}

body.login div#login form#loginform p label {
    color: #000000;
}

body.login div#login form#loginform input {
    background: #fff;
    border: 1px solid #000000;
}

body.login div#login form#loginform input#user_login {

}

body.login div#login form#loginform input#user_pass {

}

@media screen and ( min-width: 768px ) {
    body.login div#login form#loginform p.forgetmenot {
        margin-top: 8px;
    }
}

body.login div#login form#loginform p.forgetmenot input#rememberme {

}

body.login div#login form#loginform p.submit {

}

body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    padding: 5px 14px;
    height: auto;
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
}

body.login div#login p#nav {

}

body.login div#login p#nav a {

}

body.login div#login p#backtoblog {

}

body.login div#login p#backtoblog a {}

.group {

}

.group::after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
}